@model IEnumerable<EsportsCalendar.Models.Team>

@{
    ViewData["Title"] = "OpponentsDetails";
}
<br />
<div class="row d-flex justify-content-center">
    <h1 class="text-center w-100">Details</h1>
</div>
<br />