@model IEnumerable<Match>

@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="row d-flex justify-content-center">
    <h1 class="text-center">Welcome to Esport Events Center</h1>
    <p class="text-center">Here you can check every incoming Esport event of LoL, Dota 2, CS:GO and Overwatch!</p>
</div>
<br />
<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <div class="row d-flex justify-content-between align-content-stretch">
            <a asp-action="LeagueOfLegends" class="btn btn-primary btn-sharp col-3" role="button">League of Legends</a>
            <a asp-action="Dota2" class="btn btn-primary btn-sharp col-3" role="button">Dota 2</a>
            <a asp-action="CSGO" class="btn btn-primary btn-sharp col-3" role="button">CS:GO</a>
            <a asp-action="Overwatch" class="btn btn-primary btn-sharp col-3" role="button">Overwatch</a>
        </div>
        <div class="row">
            <partial name="_CalendarTablePartial" />
        </div>
    </div>
</div>


