@model IEnumerable<Match>

@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="row d-flex justify-content-center">
    <h1 class="text-center">Welcome to Esport Events Center</h1>
    <p class="text-center">Here you can check every incoming Esport event of LoL, Dota 2, CS:GO and Overwatch!</p>
</div>
<br />
<div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-lg-9">
        <div class="row d-flex justify-content-between align-content-stretch">
            <a asp-route-game="" class="btn btn-primary btn-sharp col-sm-1 col-lg-1" role="button">All</a>
            <a asp-route-game="lol" class="btn btn-primary btn-sharp col-sm-4 col-lg-3" role="button">League of Legends</a>
            <a asp-route-game="dota2" class="btn btn-primary btn-sharp col-sm-2 col-lg-2" role="button">Dota 2</a>
            <a asp-route-game="csgo" class="btn btn-primary btn-sharp col-sm-2 col-lg-3" role="button">CS:GO</a>
            <a asp-route-game="ow" class="btn btn-primary btn-sharp col-sm-3 col-lg-3" role="button">Overwatch</a>
        </div>
        <div class="row">
            <partial name="_CalendarTablePartial" />
        </div>
    </div>
</div>


