@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Esport Events Center</h1>
<p>Here you can check every incoming Esport event of LoL, Dota 2, CS:GO and Overwatch!</p>
<div class="col-sm-6"></div>

